.admin {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
}
.sidebar {
  height: 100% !important;
  background-color: #273b69;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main {
  width: 80%;
}
.section1 {
  width: 100% !important;
  display: flex;
  justify-content: space-around;

  .applicants,
  .presence {
    color: #273b69;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 50%;
    border: 1px solid black;
  }
  h2 {
    font-size: 128px;
  }
}
