.teams {
  width: 80%;
  h4 {
    color: #273b69;
    font-weight: bold;
    margin-bottom: 30px;
  }
}
.table {
  width: 100%;
  background-color: #c8def5;

  thead,
  tr {
    display: flex;

    th,
    td {
      flex-basis: 20%;
      padding: 0px 10px;
    }
  }
}

.heading {
  background-color: #273b69;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;

  &:hover {
    cursor: pointer;
  }
}
.item {
  margin-bottom: 20px;
  color: #273b69;
}
