@import '../assets/mixins.module.scss';
.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin-bottom: 20px;
  }
  label {
    margin: 0;
  }
  form {
    input[type='radio'] {
      margin-right: 10px;
    }
    select {
      margin-bottom: 20px;
      width: 100%;
      padding: 5px 10px;
      border-radius: 5px;
    }
    background-color: #273b69 !important;
    color: white;
    input[type='text'],
    input[type='email'],
    input[type='tel'] {
      width: 100%;
      padding: 5px 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
    div {
      width: 100%;
    }
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrapper {
      width: 80%;
    }
    .flex {
      display: flex;
      align-items: center;

      margin-bottom: 10px;
    }
  }
}

.btns {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  button {
    margin-top: 10px;
    @extend %button;
    width: 228px;
  }
  .clear {
    background-color: transparent;
    color: #c5feed;
    margin-left: 20px;
    &:hover {
      background-color: transparent;
    }
  }
}

.banner,
.banner2 {
  width: 100% !important;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  h3,
  p {
    margin: 0;
  }
}
.banner2 {
  background-color: #c8def5;
  color: #1a2a52;
}
.banner {
  background-color: #1a2a52;
  color: white;
}

.alergy {
  margin-left: 10px;
}

.thnk {
  background-color: #1a2a52;
  width: 50%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  .logo {
    width: 200px;
    height: 100px;
    background-image: url('../../../public/images/HackLab.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
  }
  button {
    @extend %button;
    background-color: #c5feed;
  }
}
