@import './assets/mixins.module.scss';
.banner {
  width: 100% !important;
  background-color: #1a2a52;
  text-align: center;
  color: white;
  font-size: 20px;
}
.wrapper {
  width: 80%;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin {
  font-size: 20px;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}
.adminForm {
  padding: 0;

  width: 50% !important;
  background-color: #273b69;
  label {
    width: 80%;
    margin-bottom: 10px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
  div {
    width: 80%;
  }
  input {
    width: 80%;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  button {
    margin-bottom: 20px;
    @extend %button;
    width: 80%;
    color: #1a2a52;
    background-color: #c5feed;
  }
}

.pass {
  width: 100% !important;
  position: relative;
  input {
    margin-left: 10%;
    padding-left: 40px;
  }
  span {
    position: absolute;
    top: 10px;
    left: 11%;
    i {
      color: #273b69;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.error {
  color: red;
  text-align: left;
}
